<button mat-raised-button color="primary" class="button1" routerLink="create">Kitap Ekle</button>

<div class="mat-elevation-z8 tablediv">
    <table class="table1" mat-table [dataSource]="dataSource">
  
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="bookName">
        <th mat-header-cell *matHeaderCellDef> Kitap Adi </th>
        <td mat-cell *matCellDef="let element"> {{element.bookName}} </td>
      </ng-container>

      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> Kategori Adi </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
      </ng-container>

      <ng-container matColumnDef="numberOfPages">
        <th mat-header-cell *matHeaderCellDef> Sayfa Sayisi </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfPages}} </td>
      </ng-container>

      <ng-container matColumnDef="colorName">
        <th mat-header-cell *matHeaderCellDef> Rengi </th>
        <td mat-cell *matCellDef="let element"> {{element.colorName}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Aciklama </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="islemler">
        <th mat-header-cell *matHeaderCellDef> Islemler </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <img class="r1" width='20px' src="../../../../../assets/delete.png">
                <img class="r1" width='20px' src="../../../../../assets/edit.png">
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator (page)="pageChanged()"
                  [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>