<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin">Admin Ana Sayfa</a>
    <a mat-list-item role="listitem" routerLink="book">Kitaplar</a>
    <a mat-list-item role="listitem" routerLink="colors">Renkler</a>
    <a mat-list-item role="listitem" routerLink="category">Kategoriler</a>
    <a mat-list-item role="listitem" routerLink="user">Kişiler</a>
    <a mat-list-item role="listitem" routerLink="store">Magazalar</a>
    <a mat-list-item role="listitem" routerLink="province">Iller</a>
    <a mat-list-item role="listitem" routerLink="order">Siparisler</a>
    <a mat-list-item role="listitem" routerLink="">Siteyi Gör</a>
  </mat-list>